#card-pop {
    background-position: 30%;
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

#card-pop:hover {
    transform: translateY(-0.55em);
}

#card-pop:active {
    transform: translateY(0);
}